@import url(https://fonts.googleapis.com/css?family=Rokkitt);

.rokkitt {
  font-family: rokkitt;
};

.light-blue-box {
  background-color: #00BFFF;
  color: white;
  padding: 20px 20px 20px 20px;
};

.light-gray-box {
  background-color: #A0A0A0;
  color: white;
  padding: 2px 2px 2px 2px;
};
